/* color plate #f5f5f5 #e0f2f1 #b2dfdb #80cbc4 #4db6ac */
*{
  padding: 0;
  margin: 0;
}
/* start body 
--------------------------------- */
body{
  background-color: #f5f5f5;
  color: black;
}
  
  /* sec-navbar
  --------------------------------- */
  .sec-navbar{
    background-color: #80cbc4;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 3vw;
    color: black;
  }
  .sec-navbar-link{
    text-transform: uppercase;
    font-family: Sans-Serif;
    font-size: 16px;
    font-weight: 500;
    color: black;
    text-decoration: none;
    margin-right: 5px;
    padding: 4px;
    line-height: 25px;
  }
  
  /* main profile 
  --------------------------------- */
  
  .item-details-frame {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #e0f2f1;
    border: 3px solid #b2dfdb;
    border: border-box;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin: 0 14px 0 14px;
  }
  .item-frame{
    display: flex;
    justify-content: center;
    background-color: #80cbc4;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 3px 7px rgba(0,0,0,0.3);
    border: 8px solid #b2dfdb
    border: border-box;
    overflow: hidden;
  }
  .item-pre img {
    object-fit: contain;
    width: 100%;
    max-width: 320px;
    margin: 8px;
  }
  .item-details {
    width: 100%;
    max-width: 320px;
  }
  .item-name h3 {
    margin: 18px 20px 7px 20px;
    font-size: 1.1rem;
    color: black;
    font-weight: 300;
    text-transform: capitalize;
  }
  .ad-details {
    display: block;
    margin: 10px 14px 10px 20px;
    text-transform: capitalize;
    line-height: 25px;
  }
  .ad-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    overflow: hidden;
    border: border-box;
  }
  .img-frame2 {
    display: flex;
    flex-shrink: 0;
    padding: 12px;
    margin: 5px;
    background-color: #80cbc4;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.4);
  }
  .img-frame2 img {
    width: 100%;
    max-width: 320px;
    border: 2px solid white;
    border-radius: 5px;
    object-fit: contain;
  }
